:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-blue {
  color: var(--primary-brand-color);
}

.logo-dark {
  color: var(--dark-color);
}

.logo-light {
  color: var(--light-color);
}

.header-nav-link {
  color: var(--dark-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-link {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state-color);
}

.hero-background {
  background-color: var(--hero-background-color);
}

.hero-title {
  color: var(--white-background-color);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.hero-order-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-brand-color);
  color: var(--white-background-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.hero-order-button:hover,
.hero-order-button:focus {
  background-color: var(--pressed-state-color);
}

.header-subtitle {
  color: var(--dark-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.paragraph-content {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}

.section-title {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-team-background {
  background-color: var(--light-color);
}

.header-background {
  background-color: #ffffffff;
}

.employee-name {
  color: var(--dark-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.employee-job {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.footer-background {
  background-color: var(--dark-color);
}

.footer-content {
  color: var(--light-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.list {
  list-style: none;
}

.portfolio-filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border-color: var(--accent-color);
  cursor: pointer;
}

.portfolio-filter-button:hover,
.portfolio-filter-button:focus {
  color: var(--white-background-color);
  color: #ffffffff;
  background: var(--pressed-state-color);
  background-color: #404bbf;
}

.service-name {
  color: var(--dark-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.service-category {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}
